.function-bar {
  height: 1.5rem;
  background-color: $rm-color-green;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 300;
}

.function-bar-link {
  float: right;
  padding-right: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 2.4rem;
  line-height: 1.4;
  color: white;
  padding-top: .1rem;
}