@import "reefminder-colors";

.rail-container {
  width: 15rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  display: none;
  text-align: center;
  border-right: 0.1rem solid #1b3f60;
  background-color: #2c3e50;
  box-shadow: 0 0 10px 0 #444444;
  font-weight: bold;
  color: whitesmoke;

  .rail-logo {
    height: 3rem;
    padding: 1rem;

    .rail-logo-img {
      height: 2.5rem;
    }
  }

  .rail-title {
    background-color: #1a252f;
    height: 5rem;
    padding: 1rem;
  }

  .rail-info {
    height: 1rem;
    padding: 1rem;
    text-align: left;
  }

  .rail-link {
    background-color: #42586E;
    height: 2rem;
    padding: 1rem;
    text-align: right;
  }

  .rail-link:hover {
    background-color: #42586E;
    height: 2rem;
    padding: 1rem;
  }

  .rail-link:active {
    background-color: #42586E;
    height: 2rem;
    padding: 1rem;
    border-right: 1rem solid #CACA00;
  }

  .rail-divide {
    background-color: #617487;
    height: 0.05rem;
  }

}

@media only screen and (min-width: 78rem) {
  .rail-container {
    display: inline-block;
  }
}