.tabs-container {
  display: flex;

  .tab-container {
    z-index: 50;
    margin: auto;

    .tab-title-text {
      display: none;
    }

    @media only screen and (min-width: 54rem) {
      .tab-title-text {
        display: inline;
      }
    }

    .tab {
      background-color: $rm-color-dark;
      width: 2.2rem;
      margin-right: 0.2rem;
      margin-bottom: 0.2rem;
      padding: 0.5rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 1rem;
      color: white;
    }

    @media only screen and (min-width: 54rem) {
      .tab {
        width: 11rem;
      }
    }

    .active {
      background-color: #db5b57;
    }

    .tab:active {
      background-color: #db5b57;
    }

    .tab-content {
      background-color: #de6764;
    }

    .avatar {
      height: 2.2rem;
      width: 2.2rem;
    }
  }

  .tab-content-container {
    margin: auto;
    width: 59rem;

    .tab-content {
      padding: 1rem;
    }
  }

  .tab-container:nth-of-type(2) {

    .active {
      background-color: #0074d9;
    }

    .tab:active {
      background-color: #0074d9;
    }

    .tab-content {
      background-color: #3CA2E0;
    }
  }

  .tab-container:nth-of-type(3) {

    .active {
      background-color: #5CB85C;
    }

    .tab:active {
      background-color: #5CB85C;
    }

    .tab-content {
      background-color: #82b87b;
    }
  }
}