.tabs-container {

}

.tab-container {
  float: left;
  width: 100%;
  position: fixed;
}

.tab {
  background-color: $rm-color-green;
  height: 4rem;
  width: 8rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}

.tab:active {
  background-color: orange;
}

.tab:nth-of-type(1) {
  background: $rm-color-purple;
}

.tab:nth-of-type(1):active {
  background: grey;
}

.tab:nth-of-type(2) {
  background: $rm-color-blue;
  border-left: 8rem;
}

.tab:nth-of-type(2):active {
  background: mediumpurple;
}

.tab-content {
  width: 100%;
  background-color: $rm-color-green;
  min-height: 10rem;
}

.tab-content:nth-of-type(1) {
  background: $rm-color-purple;
}

.tab-content:nth-of-type(2) {
  background: $rm-color-blue;
}