$rm-colorblue: #00ACE9;
$rm-color-red: #D43F3F;
$rm-color-green: #6A9A1F;
$rm-color-light: #F6F6E8;
$rm-color-dark: #313131;
$rm-color-darker: #0C0C0C;

$color-primary: $rm-color-light !default;
$color-primary-dark: $rm-color-darker !default;
$color-accent: $palette-pink-a200 !default;
$color-accent-dark: $palette-pink-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;