$rm-color-blue: #00ACE9;
$rm-color-red: #D43F3F;
$rm-color-light-green: #d6ffaf;
$rm-color-green: #6A9A1F;
$rm-color-dark-green: #435439;
$rm-color-purple: #77418e;
$rm-color-orange: #f96816;
$rm-color-orange-dark: #C94A02;
$rm-color-orange-darker: #9F3900;
$rm-color-light: #F6F6E8;
$rm-color-dark: #222;
$rm-color-darker: #181818;
$rm-color-greyblue-light: #406f9a;
$rm-color-greyblue: #254b6e;
$rm-color-greyblue-dark: #1b3f60;


$rm-color-text-light: #F6F6E8;
$rm-color-text-dark: #666;
$rm-color-text-orange: #f96816;
