@import "reefminder-colors";
@import "reefminder-properties";
@import "header";
@import "tabs";
@import "card";
@import "quickview-card";

body {
  background-color: $rm-color-darker;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: $rm-color-text-light;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.03rem;
}

#viewport {
  margin: 6rem auto auto auto;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.pull-right {
  text-align: right
}

.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom:0;
  height:0;
  width:100%;
  z-index: 1000;
  height: 8rem;
  background-color: black;
  border-bottom: #2c3e50;
  box-shadow: none;
  padding: 0.5rem;
  transform: skewY(-0.5deg);
  margin-bottom: -8rem;
}

.content-container {
  padding: 0;
  margin: 0;
  width: 98rem;
}

.content-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media only screen and (min-width: $rm-responsive-medium) and (max-width: $rm-responsive-large) {
  .content-container {
    width: 55rem;
  }
}

@media only screen and (min-width: $rm-responsive-small) and (max-width: $rm-responsive-medium) {
  .content-container {
    width: 36rem;
  }
}

@media only screen and (max-width: $rm-responsive-small) {
  .content-container {
    width: 20rem;
  }
}