@import "reefminder-colors";

.tabs-container {
  display: flex;

  .tab-container {

    .tab-title-text {
      display: none;
    }

    @media only screen and (min-width: 54rem) {
      .tab-title-text {
        display: inline;
      }
    }

    .tab {
      background-color: $rm-color-darker;
      width: 2.2rem;
      margin-right: 0.2rem;
      margin-bottom: 0.2rem;
      padding: 0.5rem;
    }

    .active-default {
      background-color: transparent;
    }

    .active-red {
      background-color: #db5b57;
    }

    .active-blue {
      background-color: #0074d9;
    }

    .active-green {
      background-color: #5CB85C;
    }

    .active-orange {
      background-color: $rm-color-orange;
    }

    @media only screen and (min-width: 54rem) {
      .tab {
        width: 11rem;
      }
    }

    .avatar {
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}

.tab-content-container {
  margin: auto;
  padding: 1rem;

  .tab-content-default {
    background-color: transparent;
  }

  .tab-content-red {
    background-color: #de7470;
  }

  .tab-content-blue {
    background-color: #74bce0;
  }

  .tab-content-green {
    background-color: #8AD38A;
  }

  .tab-content-orange {
    background-color: $rm-color-orange;
  }
}